# Maven
/target/

# Eclipse
/.classpath
/.project
/.settings/

# Misc
Input-Output/
deploy.sh
ext-src/
ext/
ij.jar
plugins/
macros/
*.ucls
changelog_temp.txt
doc/*.aux
doc/*.log
doc/*.out
doc/*.gz
doc/*.toc

